#============= mpdecision ==============
allow mpdecision kernel:process setsched;
allow mpdecision proc_cpu_erp:file { open read };
allow mpdecision sysfs_power_control:file r_file_perms;
allow mpdecision sysfs_thermal_control:file { open read };
r_dir_file(mpdecision, hal_power_default)
