#============= netmgrd ==============
allow netmgrd diag_device:chr_file rw_file_perms;
allow netmgrd proc_net:file w_file_perms;
allow netmgrd self:rawip_socket { getopt create setopt };
allow netmgrd self:udp_socket create_socket_perms;
allow netmgrd shell_exec:file rx_file_perms;
allow netmgrd toolbox_exec:file rx_file_perms;
dontaudit netmgrd kernel:system module_request;
