binder_call(rild, servicemanager)
binder_use(rild)

#============= rild ==============
allow rild audioserver_service:service_manager find;
allow rild diag_device:chr_file rw_file_perms;
allow rild proc_cmdline:file { getattr open read };
allow rild smd_cxm_qmi_device:chr_file { open write };
